Shadow IT Monitor v4.0 - Weekly Executive Report.json
{
  "name": "Shadow IT Monitor v4.0 - Weekly Executive Report",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "id": "d7aeaced-a7e9-4986-a542-9ccbd6a317ab",
      "name": "Ingestion - Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        576
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "subject",
              "value": "={{$json[\"subject\"]}}"
            },
            {
              "name": "snippet",
              "value": "={{$json[\"snippet\"]}}"
            },
            {
              "name": "emailDomain",
              "value": "={{$json[\"from\"].split(\"@\")[1].replace(\">\",\"\").toLowerCase()}}"
            }
          ]
        },
        "options": {}
      },
      "id": "39afc5e2-2348-4e09-abe1-54bf69f58c30",
      "name": "Processing - Normalize Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -48,
        576
      ]
    },
    {
      "parameters": {
        "sheetId": "YOUR_SHEET_ID",
        "range": "Whitelist!A:A",
        "options": {}
      },
      "id": "fbb1aa3a-d327-4d3e-a430-c4e1b6283d19",
      "name": "Policy Layer - Get Whitelist",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        144,
        368
      ]
    },
    {
      "parameters": {
        "sheetId": "YOUR_SHEET_ID",
        "range": "Blacklist!A:A",
        "options": {}
      },
      "id": "769f196d-f197-4363-8685-e5897b0b9dd7",
      "name": "Policy Layer - Get Blacklist",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        144,
        768
      ]
    },
    {
      "parameters": {
        "mode": "wait",
        "options": {}
      },
      "id": "626cc3a0-3363-46ab-8299-18ad0474a1c4",
      "name": "Merge Policy Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        352,
        576
      ]
    },
    {
      "parameters": {
        "functionCode": "const emailData = $items(\"Processing - Normalize Fields\", 0, 0)[0].json;\nconst whitelistData = $items(\"Policy Layer - Get Whitelist\");\nconst blacklistData = $items(\"Policy Layer - Get Blacklist\");\n\n// Robust extraction independent of column name\nconst whitelist = whitelistData\n  .map(i => Object.values(i.json)[0]?.toLowerCase())\n  .filter(Boolean);\n\nconst blacklist = blacklistData\n  .map(i => Object.values(i.json)[0]?.toLowerCase())\n  .filter(Boolean);\n\nconst domain = (emailData.emailDomain || \"\").toLowerCase();\nconst text = ((emailData.subject || \"\") + \" \" + (emailData.snippet || \"\")).toLowerCase();\n\nlet score = 0;\nlet matchedIndicators = 0;\nlet governanceTag = \"Standard Monitoring\";\n\n// Whitelist check (supports subdomains)\nif (whitelist.some(w => domain.endsWith(w))) {\n  return [{ json: {\n    domain,\n    subject: emailData.subject,\n    riskScore: 0,\n    riskLevel: \"Whitelisted\",\n    indicatorsMatched: 0,\n    governanceTag: \"Dynamic Whitelist\",\n    detectedAt: new Date().toISOString()\n  }}];\n}\n\n// Blacklist check (supports subdomains)\nif (blacklist.some(b => domain.endsWith(b))) {\n  return [{ json: {\n    domain,\n    subject: emailData.subject,\n    riskScore: 100,\n    riskLevel: \"Critical\",\n    indicatorsMatched: 0,\n    governanceTag: \"Dynamic Blacklist\",\n    detectedAt: new Date().toISOString()\n  }}];\n}\n\nconst highIndicators = {\n  \"api key\": 40,\n  \"billing\": 35,\n  \"payment\": 35,\n  \"admin\": 30\n};\n\nconst mediumIndicators = {\n  \"trial\": 20,\n  \"subscription\": 15,\n  \"verify\": 10,\n  \"activate\": 15\n};\n\nfor (const key in highIndicators) {\n  if (text.includes(key)) {\n    score += highIndicators[key];\n    matchedIndicators++;\n  }\n}\n\nfor (const key in mediumIndicators) {\n  if (text.includes(key)) {\n    score += mediumIndicators[key];\n    matchedIndicators++;\n  }\n}\n\n// External domain penalty\nif (!domain.endsWith(\"gmail.com\") &&\n    !domain.endsWith(\"outlook.com\") &&\n    !domain.endsWith(\"company.com\")) {\n  score += 15;\n}\n\n// Multiple indicator bonus\nif (matchedIndicators >= 2) score += 10;\n\nlet riskLevel = \"Low\";\n\nif (score >= 80) {\n  riskLevel = \"Critical\";\n  governanceTag = \"Critical Governance Action\";\n}\nelse if (score >= 60) {\n  riskLevel = \"High\";\n  governanceTag = \"Elevated Risk\";\n}\nelse if (score >= 30) {\n  riskLevel = \"Medium\";\n}\n\nreturn [{ json: {\n  domain,\n  subject: emailData.subject,\n  riskScore: score,\n  riskLevel,\n  indicatorsMatched: matchedIndicators,\n  governanceTag,\n  detectedAt: new Date().toISOString()\n}}];"
      },
      "id": "3c338428-0751-46e0-bdbf-26dd4b3d023f",
      "name": "Risk Engine - Dynamic Policy Scoring",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        544,
        576
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_SHEET_ID",
        "range": "AuditLog!A:G",
        "options": {}
      },
      "id": "1debaf98-4c01-4da1-9f39-28c5869c25d6",
      "name": "Persistence - Audit Log (All Events)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        800,
        576
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"riskScore\"]}}",
              "operation": "largerEqual",
              "value2": 60
            }
          ]
        }
      },
      "id": "6362d39b-4e9f-47f1-bf97-5db63d324acb",
      "name": "Detection Layer - High Risk Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1056,
        576
      ]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "🚨 Shadow IT Risk Detected\n\nDomain: {{$json[\"domain\"]}}\nRisk Score: {{$json[\"riskScore\"]}}\nRisk Level: {{$json[\"riskLevel\"]}}\nGovernance: {{$json[\"governanceTag\"]}}\nDetected At: {{$json[\"detectedAt\"]}}",
        "additionalFields": {}
      },
      "id": "f729c7df-8db1-435b-b367-b5fb30331c99",
      "name": "Notification - Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1312,
        560
      ],
      "webhookId": "0e5b0237-2b4b-4d3f-801c-9318a1d8fdb1"
    }
  ],
  "pinData": {},
  "connections": {
    "Ingestion - Gmail Trigger": {
      "main": [
        [
          {
            "node": "Processing - Normalize Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processing - Normalize Fields": {
      "main": [
        [
          {
            "node": "Policy Layer - Get Whitelist",
            "type": "main",
            "index": 0
          },
          {
            "node": "Policy Layer - Get Blacklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Policy Layer - Get Whitelist": {
      "main": [
        [
          {
            "node": "Merge Policy Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Policy Layer - Get Blacklist": {
      "main": [
        [
          {
            "node": "Merge Policy Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Policy Data": {
      "main": [
        [
          {
            "node": "Risk Engine - Dynamic Policy Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Risk Engine - Dynamic Policy Scoring": {
      "main": [
        [
          {
            "node": "Persistence - Audit Log (All Events)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persistence - Audit Log (All Events)": {
      "main": [
        [
          {
            "node": "Detection Layer - High Risk Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detection Layer - High Risk Filter": {
      "main": [
        [
          {
            "node": "Notification - Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "33638926-7081-4f31-9a3e-433c9a13b2eb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "039316e740ba90f41eae33597fbbcb6b8a1987eaa676378d69792a8eb1028320"
  },
  "id": "CzlZCrkU3Guv52d4",
  "tags": []
}